.colors  {
    color:#0B2447;
    color: #19376D;
    color: #576CBC;
    color:#A5D7E8;
}

body{
    background: #19376D;
    font-family: 'Berkshire Swash',sans-serif;
    color: #A5D7E8;
    display: flex;
    justify-content: center;
}

.font-big{
    font-size: 3em;
}

.font-medium{
    font-size: 2em;
}

#colors{
    width: 100px;
    height: 100px;
    background-color: transparent;
    cursor: pointer;
    border: 3px solid #A5D7E8;
}

.container{
    width:960px;
    height:960px;
    background:#fff;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    box-shadow: 2px 2px 4px 4px #0B2447;
}

.container > div{
    box-sizing: border-box;
    border: 1px solid #A5D7E8; 
}

.controls{
    padding: 10vh;
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
    align-items: center;
}

.paint{
    background: #0B2447;
}

button{
  border: none;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.2s;
  cursor: pointer;
  border-radius: 3em;
  background-color: #A5D7E8; 
  font-family: 'Berkshire Swash',sans-serif;
  font-size: 1.3em;
  color: #19376D;
}

button:hover {
    background: #0B2447; 
    color: #A5D7E8;
    border: 2px solid #A5D7E8;
}

.active{
    background: #0B2447; 
    color: #A5D7E8;
    border: 2px solid #A5D7E8;
}

a:visited{
    color: #A5D7E8;
}